/**
 *
 * Apply Here your Custom CSS
 *
*/

.profile-info.dropdown.pull-right > a img {
	width: 30px;
}

body .page-container .sidebar-menu .logo-env > div.sidebar-collapse a, body .page-container .sidebar-menu .logo-env > div.sidebar-mobile-menu a {
	border-color: #229acb !important;
}

.headline h2 {
	font-family: montserrat;
	color: #fff;
	padding-left: 20px;
}

body .page-container .sidebar-menu {
	background: #0e6385 !important;
	color: #084184;
}

body .page-container .sidebar-menu #main-menu li a {
	color: #b1d2e0;
}

body .page-container .sidebar-menu #main-menu li ul > li > a {
	background: #144f67 !important;
}

body .page-container .sidebar-menu #main-menu li.active.opened > a {
	background: #0e6385 !important;
}

body .page-container .sidebar-menu #main-menu li.active > a {
	background: #104256 !important;
}

#search {
	display: none !important;
}

.page-container .sidebar-menu #main-menu li.opened {
	background: #0e6385 !important;
}

.page-container .sidebar-menu #main-menu li ul > li > a {
	padding-left: 48px;
}

.headline {
	background: url(/static/admin/images/bg.jpg) center no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
	margin-left: -20px;
	margin-right: -20px;
	padding-top: 20px;
	padding-bottom: 20px;
	margin-bottom: 20px;
	border-bottom: 5px solid #ececec;
}

.breadcrumb {
	padding-left: 20px !important;
	padding-top: 10px;
}

.breadcrumb > li i {
	color: #a0ccde !important;
}

.breadcrumb > li a {
	color: #a0ccde !important;
}

.breadcrumb > .active {
	color: #fff !important;
}

.nav-custom {
	margin-bottom: -50px;
}

.nav-custom .user strong {
	color: #fff;
	padding-left: 5px;
}

.error {
	color: #e74c3c;
	font-size: 11px !important;
}

.pagination-custom {
	padding-bottom: 50px !important;
}

.validate-custom .validate-has-error input {
	background: transparent;
}

.validate-custom span.validate-has-error {
	position: absolute;
	top: 8px;
	right: 26px;
	z-index: -1;
}

.modal-body {
	max-height: 65vh !important;
	overflow-y: auto !important;
}

.checkbox-replace .cb-wrapper, .radio-replace .cb-wrapper {
	border-color: #ebebeb !important;
}

.checkbox-replace .cb-wrapper .checked, .radio-replace .cb-wrapper .checked {
	background-color: #ebebeb !important;
}

.checkbox-replace .cb-wrapper + label, .radio-replace .cb-wrapper + label {
	color: #333;
}

.sub-komoditi {
	padding-left: 8px;
	border-left: 2px solid #eee;
	margin-bottom: 10px;
}
 
.sub-komoditi .checkbox {
	margin-top: 5px;
}

.alert-view {
	margin-bottom: 30px;
}

.alert-custom {
	background: #3498db;
	padding: 10px;
	width: 100%;
	margin-bottom: 10px;
	color: #fff;
	border-radius: 3px;
}

.alert-custom-success {
	background: #2ecc71;
}

.alert-custom-success a {
	color: #fff;
	font-style: italic;
	font-weight: bold;
	text-decoration: underline;
}

.alert-custom-danger {
	background: #e74c3c;
}

#form_login .checkbox label {
	color: #fff;
}

.sub-form {
	background: #f5f5f5;
	margin-left: 15px;
	margin-bottom: 15px;
	padding: 5px;
	border-radius: 3px;
}

.sub-form .input-group {
	margin-bottom: 5px;
}

.sub-form .col-md-12:last-child .input-group {
	margin-bottom: 0;
}

.detail-val {
	font-weight: bold;
	color: #333;
}

.tile-stats, .morris-hover {
	border-radius: 3px !important;
}

.tile-stats h2 {
	font-size: 14px !important;
}

.tile-stats h2 b {
	font-size: 30px;
}

.tile-stats:after {
	content: "";
	display: block;
	background: #000;
	width: 100%;
	height: 30px;
	position: absolute;
	bottom: -25px;
	margin-left: -20px;
	opacity: 0.3;
}

.table-bordered {
	border: 1px solid #ebebeb;
}

.table-bordered > thead {
	border-top: 1px solid #e2e2e2;
	border-bottom: 2px solid #e2e2e2;
}

.table-bordered > thead > tr > th, .table-bordered > tbody > tr > th, .table-bordered > tfoot > tr > th, .table-bordered > thead > tr > td, .table-bordered > tbody > tr > td, .table-bordered > tfoot > tr > td {
	border: 1px solid #e2e2e2;
	vertical-align: middle;
	color: #000;
}

.table-bordered > thead > tr > th, .table-bordered > thead > tr > td {
	background-color: #f5f5f5;
	color: #999;
}

.table-bordered > thead > tr > th {
	border-color: #e2e2e2;
	background-color: #fff;
}

.count-footer th {
	position: relative;
	overflow: hidden;
	background: transparent !important;
}

.count-footer th i {
	float: left;
	font-size: 60px;
	position: absolute;
	bottom: -25px;
	right: 10px;
	z-index: 0;
	color: rgba(0,0,0,.3);
}

.mail-compose .select2 {
	margin-bottom: 10px;
}

.mail-compose .form-control.select2-container .select2-choices {
	padding-left: 0;
}

.mail-compose .form-control.select2-container.select2-dropdown-open {
	border-color: #ebebeb !important;
}

.select2-search-choice-close {
	display: none !important;
}

body .profile-info.dropdown .dropdown-menu > li {
	border-bottom-color: #22a6ff !important;
}

body .profile-info.dropdown .dropdown-menu > .caret {
	border-bottom-color: #3498db;
	border-left-width: 10px;
	border-right-width: 10px;
	border-bottom-width: 10px;
	top: -10px !important;
}

.profile-info.dropdown.pull-right .dropdown-menu {
	background-color: #3498db !important;
	border-color: #3498db !important;
}

body .profile-info.dropdown .dropdown-menu > li:hover,
body .profile-info.dropdown .dropdown-menu > li:hover a {
	background: #177dc1 !important;
	border-radius: 0 !important;
}